/* Custom .css styles */

body{
    background: url("../images/brick.jpg");
    background-image: url("../images/brick.jpg");
}

header h2{  
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: normal;
    padding-top: .5em;
}
h1, h2, h3, h4, h5, h6{
    color: red;
    font-family: 'Alegreya Sans', sans-serif;
}

